* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
}

/* HEADINGS */

h1, p {
  color: #fff;
  text-align: center;
  line-height: 1.4;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  color: #000;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

.navbar{
 box-shadow: 2px 2px 10px rgba(0,0,0,.1);
 background-color: #fff;
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content:space-between;
  overflow: hidden;
  padding-right: 20px;
  padding-left:20px ;
  z-index: 200000000;
}
.navbar img {
  width:200px;
  height: 60px;
}
.navbar .search-input {
font-size: 15px;
color: #000;
outline: none;
font-family: 'Lato', 'Arial', sans-serif;
font-weight: 700;
border: 1px solid #ccc;
height:45px;
padding-left: 5px;
width: 400px;
border-radius: 6px;
}

@media screen and (max-width:1020px) {
  .navrightcontent {
   display: none;   
  }
  
}

@media screen and (max-width:768px) {
  .navbar {
    display: flex;
    justify-content:left;
    gap: 14vw;
    height: 50px;
    color: #797878;
  }
  .navbar img {
    width: 120px;
    height: 40px;
  }
  .navbar .search-input {
    width: 180px;
    height: 40px;
    font-size: 12px;
    outline: none;
    border: 1px solid #ccc;
  }

  
}


@media screen and (min-width: 1020px) {
  .navrightcontent {
   display: flex ;
   color: #797878;
   justify-content: center; 
   gap: 20px; 
   font-size: 12px ;
   font-weight: lighter;
  }
}
/* carsoule */
.slide_page{
    font-size: xx-large;
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#slide1,#slide2,#slide3,#slide4{ 
    color:white;
    display: flex;
    align-items:center;
    justify-content: center;
}
.witten_content{
    display: flex;
    flex-direction:column;
    text-align: center;
    resize: none;
    align-items: center;
    
}
.heading{
    transform: translateY(10px);
    transition:0.5s ease-out;
    margin-top: 270px;
    font-size: 2.2rem;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 1px dotted #fff;
}
.day{
    font-size: 1.5rem;
    font-weight:bold;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #fff;
}
.amount{
    font-size: 1.3rem;
    font-weight: semi-bold;
    margin-top: 40px;
    padding-bottom: 10px;
   
}
.connect_with{
    margin-top: 30px;
    font-size: 1.2rem;
    padding:0px 10px 0 10px; 
    height: 50px;
    background-color: #f33939;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
   
}
.connect_with:hover{
    background-color: #f0f0f0;
    color: #f33939;
     font-size: 1.2rem;
    font-weight: 200px;
    padding-left: 25px;
    padding-right: 25px;
    scale: 1.1;
    transition: all 0.3s ease-out;
    box-shadow: 2px 2px 10px rgba(0,0,0,.1);
}
.carousel_container{
    width: 100%;
    padding-top: 100px;
    height: 100%;
}
.slide_Container{
   position: relative;
}
.prev,.forward{
    position: absolute;
    z-index: 10000;
}
.prev{
    left: 2px;
}
.forward{
    right: 2px;
    
}
@media screen and (max-height:320px) {
  .prev{
   display: none;
}
.forward{
   display: none;
}  

}
.prev,.forward img{
width: 50px; 
height: 50px;
cursor: pointer;
margin-top:calc(50vh - 100px);
overflow: hidden;
}

@media screen and (max-width:768px){
  
.carousel_container{
    width: 100%;
    padding-top: 50px;
    height: 100%;
}
.slide_page{
    width: 100%;
    height: calc(100vh - 50px);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.heading{
    transform: translateY(10px);
    transition:0.5s ease-out;
    margin-top: 270px;
    font-size: 1.5rem;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ffffff;
}
.connect_with{
  display: none;
}

}
@media screen and (min-width:768px) and (max-width:1023px){
   .heading{
    transform: translateY(10px);
    transition:0.5s ease-out;
    margin-top: 120px;
    font-size: 3.8rem;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 1px dotted #fff;
}
.connect_with{
  display: block;
}

  
}

/* Card-Slider */

/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


.slide-container{
  max-width: 100%;
  width: 100%; 
  margin-top: calc(90vh);
}
/* holiday_package */
 
.slide-container1{
  margin-left: 16px;
  max-width: 100%;
  width: 100%; 
  margin-top:50px;
  padding-left: 0px;

}
/* Popular Destination */
 
.slide-container2{
  margin-left: 16px;
  max-width: 100%;
  width: 100%; 
  margin-top:50px;
  padding-left: 0px;

}

/* Travel Blogs */
.slide-container3{
  margin-left: 16px;
  max-width: 100%;
  width: 100%; 
  margin-top:50px;
  padding-left: 0px;

}
.card{
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 -2px 2px rgba(0,0,0,.5);
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.card:hover{
  transform: translateY(-10px);
  transition: .4s ease;
  box-shadow: 0px 3px 4px rgba(0,0,0,.5);
}
.image-content{
  height: 189px;
  border-radius: 25px;
  width: auto;
  row-gap: 5px;
  padding: 25px 0;
}
/* holiday package */
.image-content1{
  height: 250px;
  border-radius: 25px 25px 0 0;
  width: auto;
  row-gap: 5px;
  padding: 25px 0;
}
/* Popular Destination */
.image-content2{
  height: 250px;
  border-radius: 25px;
  width: auto;
  row-gap: 5px;
  padding: 25px 0;
}
.image-content2:hover{

  transform: scale(1.05);
  transition: all 0.3s ease;
  cursor: pointer;
}
/* Travel Blogs */
.image-content3{
  height: 250px;
  border-radius: 25px;
  width: auto;
  row-gap: 5px;
  padding: 25px 0;
}
.image-content3:hover{

  transform: scale(1.05);
  transition: all 0.3s ease;
  cursor: pointer;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #2ea6bc;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.swiper-navBtn{

  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
scale: 1.05;
  
}

.swiper-button-next{
  position: absolute;
  right: 50px;
  color: #000;
}
.swiper-button-prev{
    left:0;
    position: absolute;
    color: #000;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
   display: none;
  }
}

/* Holiday Packages */

.price_viewmore .price:hover{
  color: #292828;

}
.price_viewmore .viewmore{
  color: #363636cc;
}
.price_viewmore .viewmore:hover{
  color: rgb(39, 38, 38)
}

/* popular destination */

.placetovisit{
  opacity:0;
  transition: .4s ease;
  pointer-events: none;
  font-size:13px;
  color:white; 
  text-align:center;
  margin-top: 25px;
}

